@charset "utf-8";

body {
    color: #6C6C6F;
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.75;
    letter-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* common
-------------------------*/
/* header */
.header {
    padding: 30px 0;
    background-color: #123D88;
}

.header__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

/* footer */
.footer {
    padding: 30px 0 50px;
    background-color: #123D88;
    color: #fff;
    text-align: right;
}

.footer__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.footer__copy {
    font-size: 15px;
}

/* unit */
.unit__catch {
    margin-bottom: 20px;
    color: #256BE6;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}

.unit__title {
    margin-bottom: 40px;
    color: #262934;
    font-size: 36px;
    font-weight: bold;
    line-height: 1.3;
}

.unit__text {
    margin-bottom: 40px;
}

/* card */
.card__icon {
    margin-bottom: 40px;
}

.card__title {
    margin-bottom: 20px;
    color: #2F2F35;
    font-size: 22px;
    font-weight: bold;
    line-height: 1.3;
}


.btn {
    display: block;
    width: 200px;
    margin-top: 60px;
    padding: 20px 0;
    background-color: #256BE6;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 0.025em;
    text-align: center;
    border-radius: 27.5px;
}

.btn--info {
    background-color: #2DBE61;
}

/* index.html
-------------------------*/
/* features */
.features {
    padding: 80px 0;
}

.features__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.features__info {
    width: 46%;
}

.features__list {
    width: 46%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 70px 8%;
}

/* payment */
.payment {
    padding: 80px 0;
    background-color: #F7FAFF;
}

.payment__inner {
    max-width: 1200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.payment__pic {
    width: 46%;
}

.payment__info {
    width: 46%;
}