@use 'sass:math'; //計算用のモジュール（必ず読み込む）

$color-text: #888;
$color-accent: #FA6980;
$color-main: #202124;
$color-bg: #F6F6F6;
$color-tips: #bbb;

$font-family-base: Helvetica, Arial, sans-serif;

@mixin inner($mw: 800px, $w: 88%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin title-main() {
    margin-bottom: 30px;
    padding-left: 10px;
    border-left: 10px solid $color-accent;
    color: $color-main;
    font-size: 24px;
    font-weight: bold;
    line-height: math.div(31, 24);
    text-transform: uppercase;
}

@mixin title-sub() {
    margin-bottom: 15px;
    color: $color-main;
    font-size: 18px;
    font-weight: bold;
    line-height: math.div(23, 18);
}

body {
    color: $color-text;
    font-size: 14px;
    font-family: $font-family-base;
    line-height: math.div(24, 14);
    letter-spacing: 0;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* common
-------------------*/
/* header*/
.header {
    padding: 30px 0 60px;
    text-align: center;

    &__inner {
        @include inner();
    }
}

/* footer */
.footer {
    padding: 100px 0 40px;
    background-color: $color-main;
    color: $color-tips;

    &__inner {
        @include inner();
    }

    &__copy {
        font-size: 12px;
    }
}

/* post */
.post {
    &__category {
        margin-bottom: 10px;
        color: $color-accent;
        font-size: 12px;
        font-style: oblique;
        line-height: math.div(20, 12);
    }

    &__title {
        @include title-sub();

        &--border {
            margin-bottom: 15px;
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
        }
    }
}

/* card */
.card {
    background-color: #fff;

    &__body {
        padding: 35px;
    }

    &__title {
        @include title-sub();
    }
}

/* btn */
.btn {
    display: block;
    width: 160px;
    margin-top: 25px;
    padding: 15px;
    background-color: $color-accent;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    line-height: math.div(20, 12);
    text-align: center;

    &--info {
        background-color: $color-main;
    }

    &:hover {
        background-color: $color-text;
    }
}

/* time */
.time {
    margin-top: 20px;
    padding-left: 26px;
    color: $color-tips;
    font-size: 12px;
    line-height: math.div(20, 12);
    background: url(../images/icon_time.png) no-repeat left center;
}

/* index.html
-------------------*/
/* news */
.news {
    padding: 0 0 60px;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr; // repeat(2, 1fr);
        // column-gap: 40px;
        // row-gap: 60px;
        //gap: 60px 40px;
        gap: 60px percentage(math.div(40, 800));
    }
}

/* trending */
.trending {
    padding: 60px 0;
    background-color: $color-bg;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 60px percentage(math.div(40, 800));
    }

    &__item {
        .btn {
            margin-left: auto;
        }
    }
}

/* about.html
-------------------*/
/* blog */
.blog {
    padding: 0 0 60px;

    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        row-gap: 40px;
    }

    &__item {
        .btn {
            margin-left: auto;
        }

        // .post__title {
        //     border-bottom: 1px solid #ddd;
        // }
    }
}

/* discovery */
.discovery {
    padding: 60px 0;
    background-color: $color-bg;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main();
    }

    &__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 60px percentage(math.div(40, 800));
    }
}