@use 'sass:math';

$color-text: #31353B;
$color-main: #FF9900;
$color-accent: #F85A47;
$color-bg: #DBFFFF;

$font-family-base: Helvetica, Arial, sans-serif;

$radius-base: 20px;

@mixin inner($mw: 1000px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin flex($a: center, $j: space-between) {
    display: flex;
    flex-wrap: wrap;
    justify-content: $j;
    align-items: $a;
}

body {
    color: $color-text;
    font-size: 15px;
    font-family: $font-family-base;
    line-height: math.div(26, 15);
    letter-spacing: #{math.div(20, 1000)}em;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/* common-------*/

/*index/html*/
.header {
    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        padding: 50px 0 80px;
    }

    &__logo {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 0.02em;
        line-height: 1px;
        font-family: Arial, Helvetica, sans-serif;
    }
}

.nav__list {
    display: grid;
    grid-auto-flow: column;
}

.nav__active {
    color: #FF9900;
}

/*main--------*/
.spaces {
    &__inner {
        @include inner();
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__info {
        width: 44%;
    }

    &__pic {
        width: 50%;
    }
}

main .unit__catch {
    color: #FF9900;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.66px;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 174px;
}

main h2 {
    font-size: 48px;
    letter-spacing: 0.02px;
    line-height: 1.2em;
}

.unit__text p {
    margin-top: 40px;
    font-size: 15px;
    letter-spacing: 0.02px;
    line-height: 1.7em;
}

.btn {
    display: block;
    width: 200px;
    margin-top: 60px;
    padding: 20px;
    background-color: #F85A47;
    color: #fff;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 174px;
}

.reviews {
    &__inner {
        @include inner();
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        -moz-column-gap: 6%;
        column-gap: 6%;

    }
}

.card {
    border: 1px solid #A3A3A3;
    padding: 45px 40px 45px;
    border-radius: 8%;
}

.card__text {
    margin-top: 40px;

}

//footer//
.footer {

    padding: 100px 0;
    text-align: right;
    background-color: #DBFFFF;
}

// 要素の中野一番最後のマージンを０にする
:last-child {
    margin-bottom: 0;
}

/*about.html*/