@use "sass:math";

// =================================================================
//  Variables
// =================================================================

// --- Spacing ---
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space-m: 1rem; // 16px
$space-l: 1.5rem; // 24px
$space-xl: 2rem; // 32px
$space-xxl: 2.5rem; // 40px
$space-xxxl: 3rem; // 48px
$space-xxxxl: 5rem; // 80px
$space-xxxxxl: 7.5rem; // 120px

// --- Colors ---
$color-text: #000;
$color-base: #2F2F2F;
$color-main: #E40065;
$color-bg: #F4F4F4;

// --- Typography ---
$font-size-base: 16;
$font-family-gothic: "Helvetica Neue", Arial, "Yu Gothic", "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
$font-family-mincho: "Times New Roman", Times, "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;

// --- Breakpoints ---
$breakpoints: (
    "tablet": 768px,
    "desktop": 640px,
    "philosophy": 500px,
);


// =================================================================
//  Functions
// =================================================================

// pxをremに変換する
// @param {number} $px-value - px値
// @return {string} - rem値
@function rem($px-value) {
    @return #{math.div($px-value, $font-size-base)}rem;
}

// XDのトラッキング値をemに変換する
// @param {number} $xd-value - XDのトラッキング値
// @return {string} - em値
@function ls($xd-value) {
    @return #{math.div($xd-value, 1000)}em;
}


// =================================================================
//  Mixins
// =================================================================

// メディアクエリ (モバイルファースト)
// @param {string} $breakpoint - $breakpointsのキー
@mixin mq($breakpoint: desktop) {
    @media (width >=map-get($breakpoints, $breakpoint)) {
        @content;
    }
}

// インナー幅の指定
// @param {number} $mw - max-width
// @param {number} $w  - width
@mixin inner($mw: 1000px, $w: percentage(math.div(560, 640))) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin title-main($t: "") {
    margin-bottom: rem(60);
    font-size: rem(32);
    font-weight: bold;
    line-height: math.div(54, 32);
    text-align: center;

    &::before {
        content: $t;
        display: block;
        margin-bottom: $space-m;
        font-size: rem(14);
        font-weight: normal;
        line-height: 1;
        text-transform: uppercase;
    }

    &::after {
        content: "";
        display: block;
        width: rem(100);
        margin: $space-l auto 0;
        border-bottom: 2px solid $color-main;
    }
}

// =================================================================
//  Common
// =================================================================
body {
    color: $color-text;
    font-size: rem(14);
    font-family: $font-family-gothic;
    line-height: math.div(24, 14);
    letter-spacing: ls(50);
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.header {
    padding: $space-xxl 0;

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        font-size: rem(24);
        font-weight: bold;
        line-height: math.div(29, 24);
        letter-spacing: ls(100);
    }
}

.gnav {
    &__list {
        display: grid;
        grid-auto-flow: column;
        column-gap: rem(30);
    }

    &__item {
        font-size: rem(12);
        line-height: math.div(14, 12);
    }

    &__active {
        color: $color-main;
    }
}

.footer {
    padding: rem(80) 0;
    background-color: $color-base;
    color: #fff;
    text-align: center;

    &__inner {
        @include inner();
    }

    &__copy {
        font-size: rem(12);
        font-weight: bold;
        line-height: math.div(20, 12);
    }
}

.post {
    &__pic {
        position: relative;

        .post--new &::after {
            content: "NEW";
            display: block;
            background-color: $color-main;
            position: absolute;
            left: rem(15);
            bottom: rem(15);
        }
    }

    // &--new &__pic::after {
    //   content: "NEW";
    //   display: block;
    //   background-color: $color-main;
    //   position: absolute;
    //   left: rem(15);
    //   bottom: rem(15);
    // }
}

.card {
    display: grid;
    grid-template-rows: subgrid; // 内包する要素の高さを揃えたい
    grid-row: span 2; // 内包する要素の数を指定
    row-gap: $space-xxl;
    padding: $space-xxxl $space-xxl;
    border: 1px solid #a3a3a3;
    border-radius: 20px;
    background-color: #fff;
}

.profile {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    // align-self: end; // 領域内の下に揃える
    column-gap: $space-m;

    &__term {
        font-weight: bold;
    }
}

// =================================================================
//  Index
// =================================================================
.mainvisual {
    padding-bottom: $space-xxxxl; // rem(80)

    &__inner {
        @include inner();
    }
}

.philosophy {
    padding-bottom: $space-xxxxxl;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main("philosophy");
    }

    &__text {
        max-width: rem(780);
        margin: auto;
        display: grid;
        row-gap: rem(60);
        text-align: center;

        p {
            line-height: math.div(34, 14);
            overflow-wrap: anywhere; //長い英単語（URL, メールアドレス）の途中で改行する

            @include mq(philosophy) {
                word-break: keep-all; //文脈の途中で改行しない
            }
        }
    }
}

.works {
    padding-bottom: $space-xxxxxl;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main("works");
    }

    &__list {
        display: grid;
        row-gap: rem(60);

        @include mq() {
            grid-template-columns: repeat(2, 1fr); //1fr 1fr
            column-gap: $space-xxxxl;
        }
    }
}

.voice {
    padding: $space-xxxxl 0 $space-xxxxxl;
    background-color: $color-bg;

    &__inner {
        @include inner();
    }

    &__title {
        @include title-main("voice");
    }

    &__list {
        display: grid;
        row-gap: rem(60);

        @include mq() {
            grid-template-columns: repeat(2, 1fr);
            column-gap: $space-xxxxl;
        }
    }
}