@use "sass:math";

$color-text: #000000;
$color-main: #E40065;
$color-bg: #F4F4F4;
$color-accent: #2F2F2F;
$font-famly-base: "游ゴシック", "Yu Gothic", Helvetica, Arial, sans-serif;

@mixin inner($mw: 1000px, $w: 90%) {
    max-width: $mw;
    width: $w;
    margin-left: auto;
    margin-right: auto;
}

@mixin title-main($t) {
    font-size: 32px;
    text-align: center;

    &::before {
        content: $t;
        display: block;
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 1;
        margin-top: 80px;
    }

    &::after {
        content: "";
    }
}


/* philosophy */
.philosophy {
    &__title {
        @include title-main("PHILOSOPHY");
    }
}

body {
    color: $color-text;
    font-size: 14px;
    font-family: $font-famly-base;
    line-height: 1.7;
    letter-spacing: 0.05em;
}

//header//

.header {
    padding: 50px 0 80px;

    &__inner {
        @include inner();
        display: grid;
        grid-auto-flow: column;
    }

    &__logo {
        color: $color-accent;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        letter-spacing: 0, 1em;
        font-weight: bold;
        line-height: 1.2;
    }
}


.gnav {
    &__inner {}

    &__list {
        column-gap: 30px;
        display: grid;
        grid-auto-flow: column;
    }

    &__active {
        color: $color-main;
    }
}

//main//

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

.content {
    &__inner {
        @include inner();
    }

    max-width: 780px;
    margin: auto;
    text-align: center;
}